[submodule "books/PythonDataScienceHandbook"]
	path = books/PythonDataScienceHandbook
	url = https://github.com/jakevdp/PythonDataScienceHandbook
[submodule "books/scientific-python-lectures"]
	path = books/scientific-python-lectures
	url = https://github.com/jrjohansson/scientific-python-lectures
[submodule "books/Python-for-Signal-Processing"]
	path = books/Python-for-Signal-Processing
	url = https://github.com/unpingco/Python-for-Signal-Processing
[submodule "tutorials/data-science-ipython-notebooks"]
	path = tutorials/data-science-ipython-notebooks
	url = https://github.com/donnemartin/data-science-ipython-notebooks
